@font-face {
  font-family: neue;
  src: url(./../public/assets/fonts/NeueHaasDisplayMediu.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neue;
  scroll-behavior: smooth;
  position: relative;
  user-select: none;
}